<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }}
       {% endif %}
     </title>
     <meta name="author" content="Mikael Sundberg" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}

      <link rel="alternate" type="application/atom+xml" 
	title="Recent Entries" href="http://feeds.feedburner.com/cleancode" />

  </head>
  <body>

	<div id="site">
      
      <a href="/"><h1>Cleancode by Mikael Sundberg</h1></a>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
        <h3>Me</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd><a class="fn url" href="/">Mikael Sundberg</a></dd>
	  <dd><a class="fn url" href="http://www.cleancode.se">www.cleancode.se</a></dd>
	  <dd><a class="fn url" href="mailto:mikael.sundberg82@gmail.com">E-mail</a></dd>
        </dl>
        <h3>And then some</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/mikaelsundberg">Twitter</a></li>
          <li><a href="http://github.com/bobo">GitHub</a></li>
          <li><a href="http://se.linkedin.com/pub/mikael-sundberg/15/8b9/b40">LinkedIn</a></li>
	  <li><a href="http://dynabyte.se">Work</a></li>
        </ul>

      </div>
      

      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

</div>
	<!-- Google Analytics -->		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-16984772-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>

  </body>
</html>
