<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }}
       {% endif %}
     </title>
     <meta name="author" content="Mikael Sundberg" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}

  </head>
  <body>

	<div id="site">
      
      <h1><a href="/">Mikael Sundberg</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
        <h3>Me</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd><a class="fn url" href="/">Mikael Sundberg</a></dd>
	  <dd><a class="fn url" href="http://www.cleancode.se">www.cleancode.se</a></dd>
        </dl>
        <h3>And then some</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/mikaelsundberg">Twitter</a></li>

          <li><a href="http://github.com/bobo">GitHub</a></li>
        </ul>

      </div>
      

      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

</div>
	<!-- Google Analytics -->		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-16984772-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
 <script type="text/javascript">
    //<![CDATA[
    (function() {
    		var links = document.getElementsByTagName('a');
    		var query = '?';
    		for(var i = 0; i < links.length; i++) {
    			if(links[i].href.indexOf('#disqus_thread') >= 0) {
    				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    			}
    		}
        document.write('<script type="text/javascript" src="http://disqus.com/forums/cleanblog/get_num_replies.js' + query + '"></' + 'script>');
    	})();
    //]]>
    </script>
  </body>
</html>
