<!DOCTYPE HTML>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
	</head>
	<body>
		<div id="main">
			<div id="content">
				{{ content }}
			</div><!--
			--><aside>
				<h1>most recent</h1>
				{% for post in site.posts | limit:10 %}
					<a href="{{ post.url }}"><div class="menulink">
						<div class="title">{{ post.title }}</div>
						<time>{{ post.date | date:"%d.%m.%Y" }}</time>
					</div></a>
				{% endfor %}

			</aside>
		</div>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/cleanblog/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
	</body>
</html>
